@font-face {
    font-family: 'Norse Bold';
    src: url('./fonts/norsebold-webfont.woff2') format('woff2'),
         url('./fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Creato Display';
    src: url('./fonts/creatodisplay-medium-webfont.woff2') format('woff2'),
         url('./fonts/creatodisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --content-width: 67.68vw;
    --logo-width: calc(100vw - var(--content-width));
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#bg {
    height: 100vh;
    aspect-ratio: 2500 / 1670;
}

.logo {
    background-color: black;
    opacity: 80%;

    position: absolute;
    top: 20vh;

    /* Centrar los elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 10px;
    padding-bottom: 10px;

    width: var(--logo-width);
}

.logo > span {
    font-family: "Norse Bold";
    color: whitesmoke;

    font-size: 5rem;
}

.logo > img {
    height: 100px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    left: calc((var(--logo-width) - 223.234px) / 2);

    color: white;
    text-align: center;
}

figcaption > a:link,
figcaption > a:visited {
    color: white;
}

figcaption > a:hover {
    color: #DDDDDD;
}

.form-container {
    background-color: #DDDDDD;

    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0;

    width: var(--content-width);
    height: 100vh;
}

.message {
    font-family: "Creato Display", sans-serif;

    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 17vw;
    padding-bottom: 8vh;
    padding-top: 12vh;

    height: 314.4px;

    font-size: calc(1vw + 15px);
}

.form {
    background-color: white;
}