@font-face {
    font-family: 'Norse Bold';
    src: url('./fonts/norsebold-webfont.woff2') format('woff2'),
         url('./fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Creato Display';
    src: url('./fonts/creatodisplay-medium-webfont.woff2') format('woff2'),
         url('./fonts/creatodisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --content-width: 67.68vw;
    --logo-width: calc(100vw - var(--content-width));

    --link-h: 215.45;
    --link-s: 56%;
    --link-l: 37%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#bg {
    height: 100vh;
    aspect-ratio: 2500 / 1670;
}

.logo {
    background-color: black;
    opacity: 80%;

    position: absolute;
    top: 20vh;

    /* Centrar los elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 10px;
    padding-bottom: 10px;

    width: var(--logo-width);
}

.logo > span {
    font-family: "Norse Bold";
    color: whitesmoke;

    font-size: 5rem;
}

.logo > img {
    height: 100px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    left: calc((var(--logo-width) - 223.234px) / 2);

    color: white;
    text-align: center;
}

figcaption > a:link,
figcaption > a:visited {
    color: white;
}

figcaption > a:hover {
    color: #DDDDDD;
}

.form-container {
    background-color: #EEEEEE;

    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0;

    width: var(--content-width);
    height: 100vh;
}

.message {
    font-family: "Creato Display", sans-serif;

    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 17vw;
    padding-bottom: 8vh;
    padding-top: 12vh;

    height: 314.4px;

    font-size: calc(1vw + 15px);
}

div .form {
    background-color: white;
    box-shadow: 0 0.2rem 0.2rem #CCCCCC;

    padding-left: 5vw;
    padding-top: 2vh;
    padding-bottom: 5vh;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-family: "Creato Display", sans-serif;
}

.form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.form input {
    width: 200px;

    border-style: solid;
    border-width: 2px;
    border-radius: 8px;

    padding: 0.35rem;
}

.form input:valid {
    border-color: green;
    background-color: rgba(0, 255, 0, 25%);
}

.form input:user-invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, 25%);
}

.input-container {
    display: flex;
    gap: 15vw;
}

div.left-elements, div.right-elements {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


button[type="submit"] {
    margin-left: 5vw;
    margin-top: 5vh;

    padding: 8px 45px;
    border-radius: 12px;

    color: white;
    background-color: hsl(var(--link-h), var(--link-s), var(--link-l));
    border: none;

    font-family: "Creato Display", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    --link-l: 20%;
}

button[type="submit"]:active {
    --link-l: 70%;
}

#log-in {
    margin-left: 5vw;
    margin-top: 3.5vh;

    font-family: "Creato Display", sans-serif;
    font-size: 1.11rem;
}

#log-in > a {
    text-decoration: none;
    font-weight: 20em;
    color: hsl(var(--link-h), var(--link-s), var(--link-l));
}

#log-in > a:hover,
#log-in > a:focus {
    --link-l: 70%;
}

#log-in > a:active {
    --link-l: 10%
}